.zshrc
manifest.xml
Samples/*
Tools/*
Tools-linux/*
Tools-osx/*
Team/*
Users
.bitbucket/*
.log
.*.env

.clone
.*.tmp
.DS_Store
**/.DS_Store
Tests/build/*
Tests/ressources/*

README_OLD.md
Man
.t4d/*

**/Inventory/*/*.env

.play-store.json

#External Modules
Modules/*
!Modules/gik
!Modules/bb8
!Modules/jks
!Modules/bpi
!Modules/jic
